{% extends "layouts/base.twig" %}

{% block title %}Contacto{% endblock %}

{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3">Hablemos.</h1>
                <p class="col-lg-10 fs-4">
                    Este formulario está protegido por nuestro middleware CSRF. 
                    Cada envío es verificado para asegurar que proviene de nuestro sitio.
                </p>
            </div>
            <div class="col-md-10 mx-auto col-lg-5">
                <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" action="/contact" method="POST">
                    
                    {{ csrf_field() }}
                    
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com">
                        <label for="email">Correo Electrónico</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" name="message" placeholder="Tu mensaje" style="height: 100px"></textarea>
                        <label for="message">Mensaje</label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar Mensaje</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}